# ---------------------------------------
# options that may evolve more frequently
# ---------------------------------------

## what origins (serving experiments) are allowed to use DuckSoup
DUCKSOUP_ALLOWED_WS_ORIGINS=http://localhost:8100,http://localhost:8180

## set to true to use nvcodec (needs correctly set up NVIDIA GPU)
DUCKSOUP_NVCODEC=false
DUCKSOUP_NVCUDA=false

## DuckSoup runtime options
DUCKSOUP_JITTER_BUFFER=200
DUCKSOUP_GENERATE_PLOTS=true
DUCKSOUP_GENERATE_TWCC=true
DUCKSOUP_GCC=true
DUCKSOUP_GST_TRACKING=true
DUCKSOUP_LOG_STDOUT=true
DUCKSOUP_LOG_FILE=log/ducksoup.log
DUCKSOUP_LOG_LEVEL=3
DUCKSOUP_INTERCEPT_GST_LOGS=true
#DUCKSOUP_FORCE_OVERLAY=true
#DUCKSOUP_NO_RECORDING=true
DUCKSOUP_CONTAINER_STDOUT_FILE=log/ducksoup.stdout.log
DUCKSOUP_CONTAINER_STDERR_FILE=log/ducksoup.stderr.log
GST_DEBUG=2,videodecoder:1
#GST_DEBUG_FILE=log/gst.log
#GST_TRACERS=stats;rusage
#PION_LOG_TRACE=ice

## use the following STUN servers (or set to false) for ICE candidates gathering
DUCKSOUP_STUN_SERVER_URLS=stun:stun.l.google.com:19302,stun:stun3.l.google.com:19302
## or to disable:
#DUCKSOUP_STUN_SERVER_URLS=false

## oTree experiment runtime options (how to use DuckSoup)
OTREE_DUCKSOUP_REQUEST_GPU=false
OTREE_DUCKSOUP_FRAMERATE=30
OTREE_DUCKSOUP_WIDTH=800
OTREE_DUCKSOUP_HEIGHT=600
OTREE_DUCKSOUP_FORMAT=H264

# -----------------------------------------------
# more stable configuration (linking and secrets)
# -----------------------------------------------

## main container user
DOCKER_UNAME=deploy
DOCKER_UID=1001
DOCKER_GID=1001

## used by "ducksoup" service
DUCKSOUP_PORT=8100
#DUCKSOUP_WEB_PREFIX=/path
DUCKSOUP_TEST_LOGIN=change_me
DUCKSOUP_TEST_PASSWORD=change_me

## Use DUCKSOUP_PUBLIC_IP without STUN as an ICE candidate
DUCKSOUP_EXPLICIT_HOST_CANDIDATE=false

## Needed either if STUN discovery is not availble or if DuckSoup TURN embedded server is enabled
#DUCKSOUP_PUBLIC_IP=...

## embedded TURN server, leave empty to disable
#DUCKSOUP_TURN_ADDRESS=...
#DUCKSOUP_TURN_PORT=3478

## used by "db" service
POSTGRES_USER=experiment
POSTGRES_PASSWORD=pg_password_change_me

## used by "experiment" service
OTREE_PORT=8180
OTREE_ADMIN_PASSWORD=change_me
OTREE_REST_KEY=otree_key_change_me
## connection to other services
OTREE_DATABASE_URL="postgres://experiment:pg_password_change_me@db/experiment"
OTREE_DUCKSOUP_URL=http://localhost:8100
OTREE_DUCKSOUP_FRONTEND_VERSION=v1.5

## used by "mastok" service
MASTOK_PORT=8190
MASTOK_ORIGIN=http://localhost:8190
#MASTOK_WEB_PREFIX=/path
MASTOK_LOGIN=change_me
MASTOK_PASSWORD=change_me
## disable default features if needed
#MASTOK_DISABLE_LIVE_REDIRECT=true
## connection to other services
MASTOK_DATABASE_URL="postgres://experiment:pg_password_change_me@db/mastok"
MASTOK_OTREE_PUBLIC_URL=http://host.com
MASTOK_OTREE_API_URL=http://localhost:8180
MASTOK_OTREE_API_KEY=otree_key_change_me

## used by grafana
GF_PORT=3000
GF_PATH=/grafana
GF_PASSWORD=change_me